<div class="container">

    <h1>Aguardando Finalização do Cliente</h1>

    <!-- <div class="btn-topo">
        <button class="estilo-botao" mat-raised-button routerLink="/home"><mat-icon>arrow_back</mat-icon>Voltar</button>  
    </div> -->

    <div class="btn-topo">
      <div class="search-container">
          <div class="left-buttons">
              <mat-form-field appearance="outline" class="campo-pesquisa">
                  <mat-label>Digite o Nº da OS ou identificação</mat-label>
                  <input matInput type="text">
              </mat-form-field>
              <button class="estilo-botao" mat-raised-button>
                  <mat-icon>search</mat-icon>Pesquisar
              </button>
              <button class="estilo-botao" mat-raised-button routerLink="/home">
                  <mat-icon>arrow_back</mat-icon>Voltar
              </button>
          </div>
          
      </div>
  </div>

    <!-- <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Digite aqui " #input>
    </mat-form-field> -->
 
    <div class="mat-elevation-z8">
 
       <table mat-table [dataSource]="dataSource">
  
          <ng-container matColumnDef="cod_cliente">
            <th mat-header-cell *matHeaderCellDef> Cod. Cliente </th>
            <td mat-cell *matCellDef="let element"> {{element.cod_cliente}} </td>           
         </ng-container>

          <ng-container matColumnDef="cliente">
            <th mat-header-cell *matHeaderCellDef> Cliente </th>
            <td mat-cell *matCellDef="let element"> {{element.cliente}} </td>           
         </ng-container>

         <ng-container matColumnDef="os">
            <th mat-header-cell *matHeaderCellDef> OS </th>
            <td mat-cell *matCellDef="let element"> {{element.os}} </td>
         </ng-container>

         <ng-container matColumnDef="placa">
            <th mat-header-cell *matHeaderCellDef> Placa </th>
            <td mat-cell *matCellDef="let element"> {{element.placa}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
         </ng-container>

            <ng-container matColumnDef="data_entrada">
               <th mat-header-cell *matHeaderCellDef> Data Entrega </th>
               <td mat-cell *matCellDef="let element"> {{element.data_entrega}} </td>
            </ng-container>       

         <ng-container matColumnDef="valor_total">
            <th mat-header-cell *matHeaderCellDef> Valor Total </th>
            <td mat-cell *matCellDef="let element"> {{element.valor_total}} </td>
         </ng-container>        
         
         <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef> Ações </th>
            <td mat-cell *matCellDef="let element">
               <button mat-raised-button class="btn-detalhes" routerLink="/detalhes-ordem/{{element.id}}">
                  <i class="material-icons visibility">open_in_new</i>Detalhes
               </button>
            </td>
         </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
       </table>
 
       <mat-paginator [pageSizeOptions]="[5, 2, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
    </div>
 
 </div>
