<mat-card class="detalhe-cliente">
  <mat-card-header>
    <mat-card-title>Detalhes do Cliente</mat-card-title>         
  </mat-card-header>
  <mat-card-content>
    <form>
      <div class="row">
        <mat-form-field appearance="outline" class="field">
          <mat-label>Nome Fantasia</mat-label>
          <input matInput placeholder="Nome Fantasia" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="field">
          <mat-label>Razão Social</mat-label>
          <input matInput placeholder="Razão Social" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="field">
          <mat-label>CNPJ</mat-label>
          <input matInput placeholder="CNPJ" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="field">
          <mat-label>Inscrição Estadual</mat-label>
          <input matInput placeholder="Inscrição Estadual" />
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<mat-card class="detalhe-os">
  <mat-card-header>
    <mat-card-title>Detalhes da OS</mat-card-title>         
  </mat-card-header>
  <mat-card-content>
    <form>
      <div class="row">
        <mat-form-field appearance="outline" class="field">
          <mat-label>Modelo</mat-label>
          <input matInput placeholder="Modelo" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="field">
          <mat-label></mat-label>
          <input matInput placeholder="Modelo" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="field">
          <mat-label></mat-label>
          <input matInput placeholder="Modelo" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="field">
          <mat-label>Combustível</mat-label>
          <input matInput placeholder="Combustível" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="field">
          <mat-label>Chassi</mat-label>
          <input matInput placeholder="Chassi" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="field">
          <mat-label>Ano</mat-label>
          <input matInput placeholder="Ano" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="field">
          <mat-label></mat-label>
          <input matInput placeholder="descrição" />
        </mat-form-field>

        </div>

        <mat-divider class="divider"></mat-divider>

        <div class="row">

        <mat-form-field appearance="outline" class="field">
          <mat-label>Tipo</mat-label>
          <input matInput placeholder="Modelo" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="field">
          <mat-label>Motorização</mat-label>
          <input matInput placeholder="Modelo" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="field">
          <mat-label>Cor</mat-label>
          <input matInput placeholder="Modelo" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="field">
          <mat-label>Transmissão</mat-label>
          <input matInput placeholder="Combustível" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="field">
          <mat-label>Valor Venal do Veículo</mat-label>
          <input matInput placeholder="Chassi" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="field">
          <mat-label>Capacidade Tanque</mat-label>
          <input matInput placeholder="Ano" />
        </mat-form-field>

        </div>

        <mat-divider class="divider"></mat-divider>

        <div class="row">

        <mat-form-field appearance="outline" class="field">
          <mat-label>Cidade</mat-label>
          <input matInput placeholder="cidade" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="field">
          <mat-label>Tipo Serviço</mat-label>
          <mat-select name="car">           
            <mat-option>PEÇA</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="field">
          <mat-label>Categoria de Serviço</mat-label>
          <input matInput placeholder="cidade" />
        </mat-form-field>
      </div>

        <div class="text-atencao">
          <span>Atenção</span>
          <p>*Validade do orçamento deve ser de no minimo 30 dias</p>
        </div>

        <mat-divider class="divider"></mat-divider>

        <div class="row">
        <mat-form-field appearance="outline" class="field">
          <mat-label>Registro</mat-label>
          <input matInput placeholder="cidade" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="field">
          <mat-label>Nome</mat-label>
          <input matInput placeholder="cidade" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="field">
          <mat-label>Celular</mat-label>
          <input matInput placeholder="cidade" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="field">
          <mat-label></mat-label>
          <input matInput placeholder="cidade" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="field">
          <mat-label>Categoria</mat-label>
          <input matInput placeholder="cidade" />
        </mat-form-field>

        </div>

        <mat-divider class="divider"></mat-divider>

        <div class="div-data-hora">         
        <mat-form-field appearance="outline" class="data-hora">
          <mat-label>Data entrada</mat-label>
          <input matInput placeholder="cidade" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="data-hora">
          <mat-label>Hora entrada</mat-label>
          <input matInput placeholder="cidade" />
        </mat-form-field>
        </div>

        <mat-divider class="divider"></mat-divider>

        <div class="row">
        <mat-form-field appearance="outline" class="field">
          <mat-label>Estimativa de entrega (dias)</mat-label>
          <input matInput placeholder="cidade" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="field">
          <mat-label>Validade do orçamento (dias)</mat-label>
          <input matInput placeholder="cidade" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="field">
          <mat-label>Previsão de início (dias)</mat-label>
          <input matInput placeholder="cidade" />
        </mat-form-field>

        </div>

        <mat-divider class="divider"></mat-divider>

      <div class="row">
        <mat-form-field appearance="outline" class="textarea-field">
          <mat-label>Observação</mat-label>
          <textarea matInput placeholder="Descrição"></textarea>
        </mat-form-field>
      </div>
    
    </form>
  </mat-card-content>
  <mat-divider class="divider"></mat-divider>
  <div class="btn-footer">
    <button class="estilo-botao" mat-raised-button><mat-icon>cancel</mat-icon>Rejeitar</button>
    <button class="estilo-botao" mat-raised-button><mat-icon>save</mat-icon>Emitir/Salvar</button>
  </div>
</mat-card>